/* You can add global styles to this file, and also import other style files */
table  {
    width: 50%;
    border: 1px solid black;
  }
  td{
    border: 1px solid black;
    background-color: beige;
    padding: auto;
    width : 200px;
    height : 50px ;
  }
  .centeralign{
    margin-left: auto;
    margin-right: auto;
  }
